<h2>Job Offer Details</h2>

<h3>Position Title</h3>
<p>@ViewBag.PositionTitle</p>
<h3>Position Description</h3>
<p>@ViewBag.Description</p>
<h2>Skills Required</h2>
@foreach (var skill in ViewBag.requiredSkills)
{
  <input name="@skill.skillName" type="checkbox" checked="true">
  <label>@skill.skillName</label>
}
<em><p>@ViewBag.time @ViewBag.timeUnit</p></em>
<em><p>@ViewBag.priceRange</p></em>
<hr/>
<a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
