@model JMR.Models.PostViewModel
@{
  ViewData["Title"] = "Post";
}
@{
  Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
  .form-check-input:checked {
    background-color: #59AC59;
    border-color: #59AC59;
    width: 20px;
    height: 20px;
  }
  .form-check-input:not(:checked) {
    width: 20px;
    height: 20px;
  }
</style>

<div class="m-5">
  <div class="d-inline-block p-5" style="border:solid 1px #EDEEF2; border-radius: 16px; max-width:100%; height:100%; width:100%;">
    <h3 class="pb-3">Post Job Offer</h3>
    <form asp-action="Create" method="post">
      <div class="form-row mb-5">
        <div class="form-group col-12">
          <label asp-for="Title">Position Title</label>
          <input required asp-for="Title" type="text" class="form-control" id="Title" maxlength="50" style="border: 1px solid #AAAAAA; border-radius: 8px; width: 50%">
      </div>
      </div>
        <div class="form-group mb-5">
          <label asp-for="Description">Position Description</label>
          <textarea required asp-for="Description" type="" class="form-control" id="description" rows="4" style="border: 1px solid #AAAAAA; border-radius: 8px;"></textarea>
      </div>

      <div class="form-group mb-5">
        <label>Skills Required</label>
        @{
          int len = ViewBag.RequiredSkills.Count;
        }
        <div class="container">
          <div class="row">
            <div class="col">
              @for (int i = 0; i < len / 2 + len % 2; i++)
              { 
                <div class="form-check-inline d-block mb-3">
                  <input asp-for="@Model.skillsIds[i]" class="form-check-input" type="checkbox" id="@ViewBag.RequiredSkills[i].Id" value="@ViewBag.RequiredSkills[i].Id">
                  <input asp-for="@Model.skillsIds[i]" type="hidden" value="false">
                  <label asp-for="@Model.skillsIds[i]"  class="form-check-label" for="gridCheck">
                      @ViewBag.RequiredSkills[i].skillName
                  </label>
                </div>
              }
            </div>
            <div class="col">
              @for (int i = len / 2 + len % 2; i < len ; i++)
              { 
                <div class="form-check-inline d-block mb-3">
                  <input asp-for="@Model.skillsIds[i]" class="form-check-input" type="checkbox" id="@ViewBag.RequiredSkills[i].Id" value="@ViewBag.RequiredSkills[i].Id">
                  <input asp-for="@Model.skillsIds[i]" type="hidden" value="false">
                  <label asp-for="@Model.skillsIds[i]"  class="form-check-label" for="gridCheck">
                      @ViewBag.RequiredSkills[i].skillName
                  </label>
                </div>
              }
            </div>
          </div>
          <div style="color: red; display: none; margin-top: 10px;" id="errorMsg">You need to choose at least 1 skill!</div>
        </div>
      </div>
      <div class="row form-group mb-5">
        <div class="col">
          <label for="timeFrame">Time Frame</label>
          <input required asp-for="timeFrame" type="number" min="1" class="form-control" id="timeFrame" style="border: 1px solid #AAAAAA; border-radius: 8px;">
        </div>
        <div class="col">
          <label>Unit</label>
          <select asp-for="timeUnit" id="inputState" class="form-control" style="border: 1px solid #AAAAAA; border-radius: 8px;">
            <option selected name="Days">Days</option>
            <option name="Weeks">Weeks</option>
            <option name="Years">Years</option>
          </select>
        </div>
      </div>

      <div class="row form-group mb-5">
        <div class="col">
          <label asp-for="minPay">Minimum Salary</label>
          <input required type="number" min="0" class="form-control" id="minPay" name="minPay" style="border: 1px solid #AAAAAA; border-radius: 8px;">
        </div>
        <div class="col">
          <label asp-for="maxPay">Maximum Salary</label>
          <input required type="number" min="0" class="form-control" id="maxPay" name="maxPay" style="border: 1px solid #AAAAAA; border-radius: 8px;">
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <input required type="submit" class="btn text-white ml-3" style="background-color: #59AC89;" id="post" value="Post">
        <button type="reset" class="btn" style="color: #59AC89; background-color: transparent; border: solid 1px #59AC89;">Discard Changes</button>
      </div>
    </form>
  </div>
</div>


<script>
  document.getElementById("post").addEventListener("click", function(event){
    if (!$('input[type=checkbox]:checked').length > 0) {
      event.preventDefault()
      document.querySelector("#errorMsg").style.display="block";
    }
  });
</script>
