@{
    ViewData["Title"] = "Home Page";
}


<head>
  <style>
  .card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
</style>
</head>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
@foreach (var post in ViewBag.Posts)
{
  <div class="col mb-4" style="max-width: 20rem;">
  <a asp-controller="PostDetails" asp-action="ViewDetails" asp-route-Id="@post.Id" class="btn w-100">
      <div class="card border-success">
        <div class="card-body">
          <h5 class="card-title">@post.Title</h5>
          <hr/>
          <p class="card-text">@post.timeFrame</p><p> @post.priceRange()</p>
        </div>
      </div>
  </a>
  </div>
  @* <div class="card mb-3" style="max-width: 20rem;">
    <a asp-controller="PostDetails" asp-action="ViewDetails" asp-route-Id="@post.Id" class="btn stretched-link">
      <div class="card-body">
        <h5 class="card-title">@post.Description</h5>
      </div>
      <div class="card-footer d-flex">
        <p class="card-text">@post.priceRange()</p>
      </div>
    </a>
  </div> *@
}
  </div>
</div>
