@{
    ViewData["Title"] = "Home Page";
}


<head>
  <style>
  .card{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
</style>
</head>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
@foreach (var post in ViewBag.Posts)
{
  <div class="col mb-4" style="max-width: 20rem;">
  <button class="btn w-100" data-toggle="modal" data-target="#exampleModalLong">
      <div class="card border-success">
        <div class="card-body">
          <h5 class="card-title" style="font-size:16px">@post.Title</h5>
          <hr/>
          <div class="d-inline">
            <i class="fas fa-clock"></i>@post.timeFrame @post.timeUnit @post.priceRange()
          </div>
        </div>
      </div>
  </button>
  </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Job Offer Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Position Title</h5>
          @post.Title
          <h5>Position Description</h5>
          @post.Description
          <h5>Skills Required</h5>
          @foreach (var skill in post.extractSkills())
          {
            <input name="@skill.skillName" type="checkbox" checked="true">
            <label>@skill.skillName</label>
          }
          <div></div>
          <div class="d-inline">
            <i class="fas fa-clock"></i>@post.timeFrame @post.timeUnit @post.priceRange()
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  @* <div class="card mb-3" style="max-width: 20rem;">
    <a asp-controller="PostDetails" asp-action="ViewDetails" asp-route-Id="@post.Id" class="btn stretched-link">
      <div class="card-body">
        <h5 class="card-title">@post.Description</h5>
      </div>
      <div class="card-footer d-flex">
        <p class="card-text">@post.priceRange()</p>
      </div>
    </a>
  </div> *@
}
  </div>
</div>
